body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl; /* Right-to-left layout for Hebrew */
    background-color: #edf2f7; /* Light background */
}

.background {
    background: linear-gradient(to bottom, #edf2f7 50%, #1d4599 50%); /* Blue and white design */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #1d4599; /* Blue border */
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d4599; /* Blue background for header */
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.language, .home-icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white; /* White text color */
}

.language img, .home-icon img {
    margin-left: 5px; /* Adjust spacing */
}

.info-box, .confirmation {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.info-box p, .confirmation p {
    font-size: 16px;
    line-height: 1.8;
    margin: 10px 0;
}
