body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl; /* Right-to-left layout for Hebrew */
}

.background {
    background-image: url('pgishonim_back.png'); /* Set the background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.form-container.active {
    display: block;
}

.form-container {
    display: none;
}

.confirmation-container {
    display: none;
}

.confirmation-container.active {
    display: block;
    text-align: right;
}

.confirmation-text p {
    margin: 10px 0;
    font-size: 18px;
}

.confirmation-tick {
    text-align: center;
    display: none; /* Hide the green tick section */
}
